@import url('https://fonts.cdnfonts.com/css/wildest');


#NavBar {
    background-color: #0B0C10;
}

#dropprofil,
#dropgame,
#Drop,
#dropchat {
    color: #ff8928;
    background-color: #0B0C10;
    border: #ffde22;
}

#homeBtn {
    position: absolute;
    left: 0px;
    margin-top: 0px;
    padding: 10px 20px;
    color: #ff8928;
    background-color: #0B0C10;
    border: 2px solid #ffde22;
    border-radius: 5px;
 
}

#home {
    position: absolute;
    left: 15px;
    margin-top: 25px;
    width: 30px;
    height: 30px;
}

#menuBtn,
#profilBtn,
#loginBtn {
    color: #ff8928;
    background-color: #0B0C10;
    border: 2px solid #ffde22;
    border-radius: 5px;
    padding: 10px 20px;
}

#dropprofil:hover,
#dropchat:hover,
#dropgame:hover,
#menuBtn:hover,
#homeBtn:hover,
#profilBtn:hover,
#loginBtn:hover {
    background-color: #ff414e;
    color: white;
}


